
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E6F7FF;
  color: #333333;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #0099CC;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #004D80;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #0073E6;
}

#app-content {
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #004D80;
  color: white;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  padding: 10px;
  background-color: #F5F5F5;
  border-radius: 5px;
}
